<div class="content-header">
    <h1 class="header-title">
        {{'activities' | translate}}
    </h1>
    <div class="content-actions">
        <pagination class="pull-right" totalPages="{{meta.totalPages}}" page="{{meta.page}}" (onPageChange)="goToPage($event)"></pagination>
    </div>
</div>
<div class="content-body">
    <div class="view">
        <header class="entries-head">
            <div class="head-wrap">
                <form class="activity-filter" name="filter">
                    <div class="entry-captions">
                        <span class="vw-activity-rfid">
                            <input type="search" value="{{search_keyword}}" placeholder="{{'rfid' | translate}}" autocomplete="off" (keyup)="searchRFId($event)" />
                        </span>
                        <span class="vw-activity-time">{{'time' | translate}}</span>
                        <span class="vw-activity-reg-date">{{'reg_date' | translate}}</span>
                    </div>
                </form>
            </div>
        </header>
        <div class="entries">
            <div class="entry-wrap" *ngFor="let activity of activities">
                <div class="entry">
                    <a class="entry-link" href="#" [class.active]="activity.id == activeActivityId" (click)="goToActivity(activity.id, $event)">
                        <div class="entry-fields">
                            <span class="vw-activity-rfid">{{activity.rfid}}</span>
                            <span class="vw-activity-time">{{activity.time | dateFmt:'DD.MM.YYYY HH:mm'}}</span>
                            <span class="vw-activity-reg-date">{{activity.regDate | dateFmt:'DD.MM.YYYY HH:mm'}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="load" *ngIf="request === 'loading'">
                {{'loading' | translate}}
            </div>
            <div class="alert alert-info" *ngIf="request === 'empty'">
                {{'no_data_for_display' | translate}}
            </div>
            <div class="alert alert-error" style="color:red;" *ngIf="request === 'error'">
                {{'request_error' | translate}}
            </div>
        </div>
    </div>
</div>
