.container {
    max-width: 1024px;
}

.brand-title > a {
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
}

.content-header .header-title {
    display: inline-block;
    float: left;
}

.content-header .content-actions {
    border: none;
    display: inline-block;
    float: right;
    padding: 8px;
}

@media ( max-width: 1024px) {
    .content-header .content-actions {
        padding: 6px;
    }
}

.activity-filter {
    margin: 0;
    padding: 0;
}

pagination:empty {
    display: none;
}


/* .view-registered */

.view-registered {}

.view .alert {
    margin: 10px 0;
}

.entry-captions {
    padding: 0;
}

.entry-captions > span {
    padding: 2px 4px;
    vertical-align: middle;
}

.entry-link.active,
.entry-link:focus {
    font-weight: bold;
}


/* .vw */

.vw-photo {
    width: 80px;
}

.vw-name {
    color: #a94442;
    width: 30%;
}

.vw-date {
    color: #3F51B5;
    width: 10%;
}

.vw-sex {
    color: #3F51B5;
    width: 60px;
}

.vw-citizenship {
    color: #3F51B5;
    width: 20%;
}

.vw-doc-number {
    color: #3F51B5;
    width: 10%;
}
