.container {
    max-width: 1024px;
}

.brand-title > a {
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
}

.content-header .header-title {
    display: inline-block;
    float: left;
}

.content-header .content-actions {
    border: none;
    display: inline-block;
    float: right;
    padding: 8px;
}

@media ( max-width: 1024px) {
    .content-header .content-actions {
        padding: 6px;
    }
}

.activity-filter {
    margin: 0;
    padding: 0;
}

pagination:empty {
    display: none;
}

.load {
    background: #FFEB3B;
    display: inline-block;
    margin: 2px;
    padding: 2px 6px;
}


/* .view-registered */

.view-registered {
    margin-top: 20px;
}

.view .alert {
    margin: 10px 0;
}

.view-registered .head-wrap {
    background: transparent;
    border-bottom-width: 2px;
    min-height: auto;
}

.entry-captions {
    padding: 0;
}

.entry-captions > span {
    color: #666;
    font-size: .9em;
}


/* .vw */

.entry-wrap {
    background: #fff;
}

.entry-wrap.active {
    background: #f5f5f5;
}

.entry-wrap a {
    text-decoration: none;
}

.entry-fields > span {
    font-size: 1.1em;
}

.vw-photo {
    text-align: center;
    transition: height .15s ease-out;
    height: 20px;
    width: 80px;
}

.entry-wrap.active .vw-photo {
    height: 80px;
}

.vw-doc-number {
    color: #666;
    width: 140px;
}

.vw-person-name {
    color: #a94442;
    width: 30%;
}

.vw-birthday {
    color: #3F51B5;
    width: 100px;
}

.vw-gender {
    color: #3F51B5;
    width: 60px;
}

.vw-citizenship {
    color: #3F51B5;
    max-width: 200px;
    width: 24%;
}

.vw-expiration-date {
    color: #444;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100px;
}
