<notification></notification>
<div class="layout">
    <div class="content-overlay" (mousedown)="hideNav($event)" (touchstart)="hideNav($event)"></div>
    <header class="header navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="brand-logo" alt="logo" src="img/logo.png" />
                <span class="brand-title">
                    <a [routerLink]="['/']">
                        {{HEADER_TITLE}}
                    </a>
                </span>
            </div>
            <nav class="navbar-nav navbar-right">
                <ul class="nav nav-inline navbar-right">
                    <li dropdown class="dropdown pull-right">
                        <a dropdown-toggle href="#" class="dropdown-toggle" (click)="preventDefault($event)">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu right">
                            <li>
                                <a class="user-profile" [routerLink]="['/user-profile']">
                                    {{loggedUser.userName}}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="logout" href="#logout" (click)="logout($event)">
                                    {{'logout' | translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="container">
        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </section>
</div>
