.container {
    max-width: 1024px;
}

.brand-title > a {
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
}

.content-header .header-title {
    display: inline-block;
    float: left;
}

.content-header .content-actions {
    border: none;
    display: inline-block;
    float: right;
    padding: 8px;
}

@media ( max-width: 1024px) {
    .content-header .content-actions {
        padding: 6px;
    }
}

.content-actions > form {
    margin: 0;
    padding: 1px 10px;
}

.entry-captions {
    padding-left: 11px;
}

pagination:empty {
    display: none;
}


/* .vw */

.vw-activity-rfid {
    width: 60%;
}

.vw-activity-time {
    width: 15%;
}

.vw-activity-reg-date {
    width: 15%;
}
